body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8312a5;
    color: #fff;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ed690;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    font-size: 28px;
}

.movies {
    padding: 20px;
}

.movie-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.movie-row img {
    width: 200px;
    margin: 0 10px;
    border: 2px solid #040d4f;
    border-radius: 10px;
}